.card{
     background-color: #2c3345;
  width: 500px;
  padding: 150px;
  margin: 150px;
  height: 200px;  
}
.orange-area {
    background-color: #ff6b3b; 
    color: #fff; /* White text for contrast */
    padding: 200px;
   border-top-right-radius: 300px;
   border-bottom-right-radius: 300px ;
    margin-top: 10px;
    text-align: above;
    position: absolute;
    top: 140px;
   left: 130px;
   width: 0px;
   height:100px;
}
.shoe-img {
 position: absolute;
  top:100px;
  left:10%;
  width: 380px;
  z-index: 19;
 
}
.info {
  position: absolute;
  top: 300px;
  left: 600px;
  color: white;
  z-index: 3;
}

.price {
  font-size: 20px;
  margin-top: 10px;
}

.old-price {
  text-decoration: line-through;
  color: #aaa;
  margin-left: 10px;
}